<div class="containers d-flex justify-content-center align-items-center min-vh-100" @loaded>
  <div class="card p-4 shadow" style="width: 100%; max-width: 400px;">
    <h2 class="mb-3 text-center display-3"><i class="bi bi-scissors"></i> ShortenIt</h2>
    <h4 class="mb-3 text-center">Log in</h4>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          id="username"
          class="form-control"
          formControlName="username"
          [class.is-invalid]="loginForm.get('username')?.invalid && loginForm.get('username')?.touched"
        />
        @if (loginForm.get('username')?.touched && loginForm.get('username')?.errors) {
          <div class="invalid-feedback">Username required</div>
        }
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
          [class.is-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
        />
        @if (loginForm.get('password')?.touched && loginForm.get('password')?.errors) {
          <div class="invalid-feedback">
            @if (loginForm.get('password')?.errors?.['required']) {
              Password required.
            }
            @if (loginForm.get('password')?.errors?.['customError']) {
              {{ loginForm.get('password')?.errors?.['customError'] }}
            }
          </div>
        }

      </div>

      <button class="btn btn-primary w-100" [disabled]="loginForm.invalid || loading">
        @if (loading) {
          <span class="spinner-border spinner-border-sm me-2" aria-hidden="true"></span>
          <span role="status">Loading...</span>
        } @else {
          <i class="bi bi-box-arrow-in-right"></i> Login
        }
      </button>

    </form>
  </div>
</div>
