/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/

main > .container {
  /*padding: 70px 15px 20px;*/
  padding: 70px 12px 20px;
}

.footer {
  font-size: .9em;
  height: 60px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 1600px) {
  .container {
    max-width: 1560px !important;
  }
}

@media (min-width: 1800px) {
  .container {
    max-width: 1760px !important;
  }
}

@media (min-width: 2000px) {
  .container {
    max-width: 1860px !important;
  }
}

.container {
  /*max-width: 100% !important;*/
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 200;
  line-height: 1;
}

.display-6 {
  font-size: 2rem;
  font-weight: 200;
  line-height: 1;
}

@media print {
  body, .container, .container-fluid {
    margin: 0 !important;
    padding: 0 !important;
  }

  html, body {
    width: 100%;
    height: auto;
    /*zoom: 90%;*/
  }

  .no-print, nav, .navbar, .sidebar, .footer {
    display: none !important;
  }

  .row, .col, .container, .container-fluid {
    width: 100% !important;
    max-width: 100% !important;
  }

  .card, .shadow, .border, .bg-light {
    box-shadow: none !important;
    border: none !important;
    background-color: transparent !important;
  }

  .page-break {
    page-break-before: always;
  }

  * {
    font-size: 12px !important;
  }
}
